@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar">
    <div class="sidebar-brand">
        <span>&#9876; Paint Inventory</span>
    </div>
    <nav class="flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
        <NavLink class="nav-link" href="all-paints">
            All Paints
        </NavLink>
        <NavLink class="nav-link" href="by-rack">
            By Rack
        </NavLink>
        <NavLink class="nav-link" href="wish-list">
            Wish List
        </NavLink>
    </nav>
</div>
